page-home {
  ion-content{
    // background-color: #F1F2F4 !important;
    background-image: url("../assets/imgs/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .scroll-content{
      background: transparent !important;
      padding-bottom: 70px;
    }
    button[ion-fab] {
      overflow: visible;
      position: relative;

      ion-label {
          position: absolute;
          top: -8px;
          right: 40px;
          pointer-events: auto;
          color: white;
          background-color: rgba(0,0,0,0.7);
          line-height: 24px;
          padding: 4px 8px;
          border-radius: 4px;
      }
      contain: layout;
    }
  }
  h1.nopin{
    color: #424242;
  }
  ion-card{
    border-radius: 10px !important;
    border: 1px solid #fff !important;
  }
  ion-navbar{
    border-bottom: 1px solid #eee;
  }
  .social-cards ion-col {
    padding: 0;
  }
  button{
    font-weight: bold;
    text-transform: capitalize !important;
    ion-icon{
      font-weight: bold;
    };
    &.cates{
      padding: 0 1rem;
      margin: 0.2rem;
      // font-size: 1rem;
      box-shadow: none;
    }
    &.button-ios-social, &.button-md-social{
      color: #378FFD !important;
    }
    &.button-ios-intellectual, &.button-md-intellectual{
      color: #FE9626 !important;
    }
    &.button-ios-physical, &.button-md-physical{
      color: #FB365C !important;
    }
    &.button-ios-emotional, &.button-md-emotional{
      color: #009246 !important;
    }
    &.button-ios-spiritual, &.button-md-spiritual{
      color: #A157EF !important;
    }
  }
}
