<ion-header>
<!-- <div *ngIf="isOffline" class="offline" text-center>Offline</div> -->
  <ion-navbar>
    <!-- <ion-buttons start>
      <button ion-button icon-only color="primary" (click)="about()">
        <ion-icon name="ios-information-circle-outline"></ion-icon>
      </button>
    </ion-buttons> -->
    <button ion-button menuToggle icon-only color="primary">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Pinboard</ion-title>
    <ion-buttons end *ngIf="pinned.length>0">
      <button ion-button icon-only [color]="category=='all' ? 'dark' : 'primary'" (click)="showRadio()">
        <ion-icon name="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="social-cards">
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="200">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="!isLoaded" text-center padding>
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="isLoaded">
    <ion-card *ngFor="let data of datas">
        <ion-badge color="primary" *ngIf="data.myaffirmation" (click)="goSearch('My Affirmation')">My</ion-badge>
      <ion-card-content>
        <ion-card-title>
          {{data.AFFIRMATION}}
        </ion-card-title>
      </ion-card-content>
      <ion-row text-capitalize align-items-center>
        <ion-col col-auto>
          <button ion-button color="primary" clear small icon-start (click)="showConfirm(data.ID);">
            <ion-icon name='ios-close'></ion-icon>
            UNPIN
          </button>
        </ion-col>
        <ion-col text-right style="padding-right: 10px">
          <button class="cates" ion-button color="{{category}}" round small *ngFor="let category of data.CATEGORIES"
            (click)="filterPinned(category);">
            {{category}}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-grid padding *ngIf="pinned.length==0">
      <ion-row>
        <ion-col align-self-center>
          <h1 class="nopin" text-center>
            You don't have any affirmations pinned, start by <a (click)="goSearch()">searching or add it</a>
          </h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab right bottom #fab>
    <button ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="goSearch(null, fab)"><ion-icon name="cloud-download"></ion-icon><ion-label>Add from library</ion-label></button>
      <button ion-fab (click)="goSearch('My Affirmation', fab)"><ion-icon name="person-add"></ion-icon><ion-label>Add from my own</ion-label></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
