<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only color="primary">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Categories</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="categories.length>0">
    <ion-card-header>
      Explore Categories
    </ion-card-header>

    <ion-list>
      <button *ngFor="let category of categories" ion-item (click)="exploreCategory(category)" [ngClass]="category">
        <ion-icon name="albums" item-start></ion-icon>
        {{category}}
      </button>
    </ion-list>
  </ion-card>
  <h1 class="nopin" text-center *ngIf="categories.length==0">
      Categories not found
  </h1>
</ion-content>
