page-categories {
  ion-content{
    background-image: url("../assets/imgs/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  h1.nopin{
    color: #424242;
  }
  ion-card{
    border-radius: 10px !important;
    border: 1px solid #fff !important;
  }
  button{
    font-weight: bold;
    text-transform: capitalize !important;
    ion-icon{
      font-weight: bold;
    };
    &.social{
      color: #378FFD !important;
    }
    &.intellectual{
      color: #FE9626 !important;
    }
    &.physical{
      color: #FB365C !important;
    }
    &.emotional{
      color: #009246 !important;
    }
    &.spiritual{
      color: #A157EF !important;
    }
  }
}
