<ion-menu [content]="content" type="reveal">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(0)">
        My Pinboard ({{pinnedCnt}})
      </button>
      <button ion-item (click)="openPage(1)">
        My Affirmation ({{myAffirmationCnt}})
      </button>
      <button ion-item (click)="openPage(1, true)">
        Search ({{affirmationCnt}})
      </button>
      <button ion-item (click)="openPage(2)">
        Categories ({{categoriesnCnt}})
      </button>
      <button ion-item (click)="openPage(3)">
        About Us
      </button>
      <a ion-item href="mailto:contact@digitalfractal.com?subject=My Affirmations Suggestion" (click)="openPage(4)">Contact Us</a>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
