<ion-header mode="md">
  <ion-navbar>
    <button ion-button menuToggle icon-only color="primary">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Search {{the_category ? 'on ' + (the_category | lowercase) : 'all'}}</ion-title>
    <ion-buttons end>
      <!-- <button ion-button icon-only color="primary">
        <ion-icon name="share-alt"></ion-icon>
      </button> -->
      <button ion-button icon-end *ngIf="the_category" (click)="resetFilter()">
        Reset
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <!-- <ion-searchbar (input)="getItems($event)"></ion-searchbar> -->
    <ion-searchbar [(ngModel)]="searchInput" debounce="450" (ionInput)="search($event)" placeholder="Search Something..."></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="social-cards">
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax="200">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isLoaded">
    <ion-card *ngFor="let data of datas">
      <ion-badge color="primary" *ngIf="data.myaffirmation" (click)="filterCategory('My Affirmation')">My</ion-badge>
      <button ion-button icon-only small clear float-right *ngIf="data.myaffirmation && !data.pinned" (click)="showDeleteConfirm(data.ID)">
          <ion-icon name="close"></ion-icon>
        </button>
      <div class="ribbon" *ngIf="data.pinned"><span>Pinned</span></div>
      <ion-card-content>
        <ion-card-title>
          {{data.AFFIRMATION}}
        </ion-card-title>
        <!-- <p>{{data.ID}}</p> -->
      </ion-card-content>
      <ion-row text-capitalize align-items-center>
        <ion-col col-auto>
          <button ion-button color="primary" clear small icon-start (click)="pinme(data);">
            <ion-icon name='{{data.pinned? "ios-close" : "ios-add"}}'></ion-icon>
            {{data.pinned ? 'UNPIN' : 'PIN'}}
          </button>
        </ion-col>
        <ion-col text-right style="padding-right: 10px">
          <button class="cates" ion-button color="{{category}}" round small *ngFor="let category of data.CATEGORIES"
            (click)="filterCategory(category)">
            {{category}}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    <h1 class="nopin" text-center *ngIf="datas.length==0">
        Affirmations not found
    </h1>
  </div>
  <div *ngIf="!isLoaded" text-center padding>
    <ion-spinner></ion-spinner>
  </div>
  <ion-fab right bottom *ngIf="isLoaded && datas.length>0">
    <button ion-fab color="primary" (click)="showForm()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
