page-search {
  ion-navbar{
    border-bottom: 1px solid #eee;
  }
  ion-content{
    background-image: url("../assets/imgs/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .scroll-content{
      background: transparent !important;
      padding-bottom: 70px;
    }
  }
  h1.nopin{
    color: #424242;
  }
  ion-card{
    border-radius: 10px !important;
    border: 1px solid #fff !important;
  }
  .social-cards ion-col {
    padding: 0;
  }
  button{
    font-weight: bold;
    text-transform: capitalize !important;
    ion-icon{
      font-weight: bold;
    };
    &.cates{
      padding: 0 1rem;
      margin: 0.2rem;
      // font-size: 1rem;
      box-shadow: none;
    }
    &.button-ios-social, &.button-md-social{
      color: #378FFD !important;
    }
    &.button-ios-intellectual, &.button-md-intellectual{
      color: #FE9626 !important;
    }
    &.button-ios-physical, &.button-md-physical{
      color: #FB365C !important;
    }
    &.button-ios-emotional, &.button-md-emotional{
      color: #009246 !important;
    }
    &.button-ios-spiritual, &.button-md-spiritual{
      color: #A157EF !important;
    }
  }
  ion-card{
    position: relative;
  }

  .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
  }
}
