<!--
  Generated template for the MyaffirmationformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Affirmation</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="closeForm(true)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="category" multiple="true">
        <ion-option *ngFor="let category of categories" value="{{category}}">{{category}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Affirmation</ion-label>
      <ion-input type="text" [(ngModel)]="affirmation"></ion-input>
    </ion-item>
  </ion-list>
    <button ion-button block text-center color="primary" (click)="addAffirmation()">
      Save
    </button>
</ion-content>
